.main-content-wrp
    width: 100%
    margin-top: 60px
    height: calc( 100vh - 60px )

.main-content-body
    display: flex
    flex-direction: row
    width: 100%
    height: 100%
    margin: 10px

.market-list-wrp
    width: 42%
    height: 100%
    overflow: scroll
    

.connections-list-wrp
    width: 58%
    display: flex
    flex-direction: row