.main-content-wrp
    display: flex
    justify-content: center
    width: 100%
    margin-top: 65px
    height: calc( 100vh - 60px )

.main-content-body
    display: flex
    flex-direction: row
    width: 1400px
    height: calc( 100% - 20px )
    margin: 10px

.market-list-wrp
    min-width: 350px
    height: 100%
    overflow: scroll

@media screen and (max-width: 700px)
    .market-list-wrp
        min-width: 50%

.market-full-info-wrp
    width: calc( 100% - 350px )
    display: flex
    flex-direction: column
    border-radius: 7px
    background-color: pink
    margin-top: 7px

@media screen and (max-width: 700px)
    .market-full-info-wrp
        min-width: 50%

.market-details-wrp
    width: 100%