
<app-header></app-header>

<div class="main-content-wrp">
    <div class="main-content-body">
        <router-outlet></router-outlet>
        <div class="market-list-wrp">
            <app-markets-list></app-markets-list>
        </div>
        <div class="market-full-info-wrp">
            <div class="market-details-wrp">
                <app-market-details></app-market-details>
            </div>
            <div class="connections-list-wrp">
                <app-connections-list></app-connections-list>
            </div>
        </div>
    </div>
</div>