<div class="market-card-wrp">
    <div class="market-name-section">
        <div class="market-name">
            <span>
                {{this.market.name}}
            </span>
        </div>
        <div class="market-region">
            <span>
                (Ivano-Frankivsk region)
            </span>
        </div>
    </div>
    <div class="market-information-section">
        <div class="market-address">
            <span>
                {{this.market.address}}
            </span>
        </div>
    </div>
</div>